---
layout: layouts/home.njk
tags:
  - nav
navtitle: Blog
---

<h1>Chris's Blog.
  <small>A collection of technical reference, thoughts, articles and tutorials.</small>
</h1>

{% set postslist = collections.posts | head(-4) %}
{% include "postslist.njk" %}

<p>More posts can be found in
  <a href="{{ '/posts/' | url }}">the archive</a>.</p>